<?xml version="1.0" encoding="UTF-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target xsi:type="file" name="logfile" 
            file="log_file.txt"/>
    </targets>
    <rules>
        <logger name="*" minLevel="Trace" writeTo="logfile"/>
    </rules>
</nlog>